<div
  [ngClass]="{ reminder: task.reminder }"
  class="task"
  (dblclick)="onToggle(task)"
>
  <h3>
    {{ task.text }}
    <fa-icon
      (click)="onDelete(task)"
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
    ></fa-icon>
  </h3>
  <p>
    {{ task.day }}
    <fa-icon
      (click)="onEditClick()"
      [ngStyle]="{ color: 'teal' }"
      [icon]="faPenSquare"
    ></fa-icon>
  </p>
  <p>
    <a [routerLink]="['/task', task.id]" (click)="toggleAddButton()"
      >View Details</a
    >
  </p>
</div>
<app-edit-task
  *ngIf="editing"
  [task]="task"
  (onUpdateDayClick)="onUpdateTaskDay(task)"
/>
